@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --background: #18181B;
  --hover: #161616;
  --color: rgb(235, 235, 235);
  --border: solid 1px rgb(26, 26, 26);
  --shadow: 0px 3px 10px #272727;
  --box-shadow: 2px 2px 4px 0px whitesmoke;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--color);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  align-items: center;
  justify-items: center;
  overflow-x: hidden;
}

/*header*/
header {
  position: fixed;
  justify-content: space-between;
  display: flex;
  align-items: center;
  top: 27%;
  left: 2%;
  width: 3.5%;
  height: 45%;
  border: var(--border);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  padding: 0px 0px 0px 0px;
  border-radius: 5px;
  z-index: 100;
  box-shadow: var(--shadow);
  transition: all 300ms linear;
}
header nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
}
header nav a {
  text-decoration: none;
  color: var(--color);
  font-size: 22px;
  transition: all 300ms ease;
  width: 100%;
  text-align: center;
  padding: 7px 0px;
}
header nav a:hover {
  color: #f80d53;
}
header button {
  width: 40px;
  height: 40px;
  color: var(--color);
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
}
header button i {
  font-size: 20px;
  color: var(--color);
  transition: all 300ms ease;
}
header button i:hover {
  color: #f80d53;
}

/*main*/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}
main #init-info {
  display: flex;
  width: 100%;
  min-height: 95vh;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main #init-info img {
  width: 280px;
  border-radius: 50%;
  height: 280px;
  box-shadow: var(--shadow);
  animation-duration: 2s;
}
main #init-info article {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
main #init-info article a {
  text-decoration: none;
}
main #init-info article #gitBtn {
  padding: 12px 25px;
  color: var(--color);
  border: 1px solid rgba(255, 255, 255, 0.096);
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  transition: all 300ms ease;
}
main #init-info article #gitBtn:hover {
  color: var(--background);
  background: var(--color);
}
main #init-info article h1 {
  font-size: 50px;
  margin: 0;
  font-style: italic;
  font-weight: 500;
}
main a {
  text-decoration: none;
  color: var(--color);
}
main .main_divisor a {
  font-size: 1.5rem;
}

/*projects*/
#projects {
  max-width: 1220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
  margin-bottom: 0px;
  border-top: 50px;
  gap: 50px;
}
#projects div {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 300px;
  margin-bottom: 100px;
}
#projects article {
  width: 250px;
  margin-left: 15px;
  height: 45px;
  min-height: 45px;
  border: var(--border);
  box-shadow: 1px 2px 2px 2px rgba(255, 255, 255, 0.178);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  cursor: default;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  padding: 0px 0px 0px 15px;
  background-color: var(--hover);
}
#projects article img {
  height: 55%;
}
#projects a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
#projects a img {
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow);
}
#projects a span {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  opacity: 0;
  transition: all 0.5s ease;
}
#projects a:hover span {
  opacity: 1;
}

/*divider*/
.divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 1px;
  background-color: var(--color);
  margin-bottom: 60px;
  scroll-margin-top: 120px;
  border-top: 1px solid var(--color);
}
.divider p {
  position: absolute;
  top: -50px;
  padding: 0px 20px;
  font-size: 1.7rem;
}

/*about*/
.about {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 60%;
  height: 100vh;
}
.about .about__content .about__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .about__content .about__right span {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #f80d53;
}
.about .about__content .about__right h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  animation: fluido 3s ease-in-out infinite;
  background: linear-gradient(-45deg, #DA0037, #EDEDED, #692b2b);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .about__content .about__right p {
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
}
.about .about__content .about__right a {
  color: var(--background);
  font-size: 1.5rem;
  text-decoration: none;
  background-color: var(--color);
  width: 35%;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  transition: all 300ms ease;
}
.about .about__content .about__right a i {
  margin-left: 0.5rem;
}
.about .about__content .about__right a:hover {
  color: var(--black-);
  border: var(--color);
  background-color: #f80d53;
}

/*techs*/
.techs {
  padding: 10rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.techs div {
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15rem;
  height: 30vh;
  border-radius: 5px;
}
.techs div h3 {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: rgba(126, 204, 230, 0.767);
  font-style: italic;
}
.techs div img {
  width: 4rem;
  color: var(--color);
  cursor: pointer;
  transition: all 300ms ease;
}
.techs div i:hover {
  color: rgb(126, 204, 230);
}
.techs div .i_cons {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 15%;
}
.techs div .i_cons:nth-child(2) {
  justify-content: space-evenly;
}
.techs .tech-ident {
  background-color: rgba(22, 22, 22, 0.6980392157);
}
.techs .resources i {
  cursor: auto;
}
.techs .lenguajes i {
  cursor: auto;
}
.techs .lenguajes .i_cons {
  width: 100%;
}

/*footer*/
.footer {
  background-color: var(--color);
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0;
  width: 100%;
}
.footer .footer_left {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}
.footer .footer_left p {
  border-right: 1px solid var(--background);
  margin-right: 10px;
  padding-right: 5px;
  pointer-events: none;
  color: var(--background);
}
.footer .footer_left a {
  color: var(--background);
  text-decoration: none;
  font-size: 1.2rem;
}
.footer .footer_right {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .footer_right a {
  text-decoration: none;
  color: var(--background);
  transition: all 300ms ease;
}
.footer .footer_right a:hover {
  border-bottom: 1px solid var(--background);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--background);
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 32;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #f80d53;
  top: 14%;
  left: 64%;
  animation-duration: 16s;
  animation-delay: -149s;
  transform-origin: -8vw 16vh;
  box-shadow: -2vmin 0 0.2662735696vmin currentColor;
}

.background span:nth-child(1) {
  color: #f80d53;
  top: 80%;
  left: 49%;
  animation-duration: 136s;
  animation-delay: -158s;
  transform-origin: 12vw 8vh;
  box-shadow: 2vmin 0 0.9181246411vmin currentColor;
}

.background span:nth-child(2) {
  color: #8d1b1b;
  top: 50%;
  left: 78%;
  animation-duration: 121s;
  animation-delay: -16s;
  transform-origin: -23vw 22vh;
  box-shadow: -2vmin 0 1.0996432553vmin currentColor;
}

.background span:nth-child(3) {
  color: #f80d53;
  top: 27%;
  left: 46%;
  animation-duration: 79s;
  animation-delay: -26s;
  transform-origin: -8vw 6vh;
  box-shadow: 2vmin 0 1.010743981vmin currentColor;
}

.background span:nth-child(4) {
  color: #FFACAC;
  top: 3%;
  left: 57%;
  animation-duration: 6s;
  animation-delay: -104s;
  transform-origin: -24vw 0vh;
  box-shadow: -2vmin 0 0.3362852827vmin currentColor;
}

.background span:nth-child(5) {
  color: #FFACAC;
  top: 7%;
  left: 96%;
  animation-duration: 136s;
  animation-delay: -49s;
  transform-origin: -16vw -22vh;
  box-shadow: 2vmin 0 0.6689460623vmin currentColor;
}

.background span:nth-child(6) {
  color: #8d1b1b;
  top: 90%;
  left: 58%;
  animation-duration: 166s;
  animation-delay: -71s;
  transform-origin: 10vw 24vh;
  box-shadow: 2vmin 0 1.1568976267vmin currentColor;
}

.background span:nth-child(7) {
  color: #8d1b1b;
  top: 36%;
  left: 46%;
  animation-duration: 89s;
  animation-delay: -79s;
  transform-origin: 17vw 4vh;
  box-shadow: -2vmin 0 1.0473942209vmin currentColor;
}

.background span:nth-child(8) {
  color: #FFACAC;
  top: 94%;
  left: 68%;
  animation-duration: 159s;
  animation-delay: -123s;
  transform-origin: 0vw 24vh;
  box-shadow: -2vmin 0 0.6300294266vmin currentColor;
}

.background span:nth-child(9) {
  color: #FFACAC;
  top: 63%;
  left: 47%;
  animation-duration: 88s;
  animation-delay: -160s;
  transform-origin: -12vw 16vh;
  box-shadow: 2vmin 0 1.0942352077vmin currentColor;
}

.background span:nth-child(10) {
  color: #FFACAC;
  top: 46%;
  left: 100%;
  animation-duration: 61s;
  animation-delay: -90s;
  transform-origin: -1vw -8vh;
  box-shadow: 2vmin 0 0.9134078652vmin currentColor;
}

#barsBtn {
  display: none;
}

#xBtn {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

/* Color y estilo del thumb (la barra desplazable) */
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 5px;
}

/* Cambiar el color del thumb al pasar el cursor */
::-webkit-scrollbar-thumb:hover {
  background: #f80d53;
}

/*transitions Js with Sass responsive*/
.hiddenLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.showLeft {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hiddenRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.showRight {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hiddenUp {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(30%);
  transition: all 2s;
}

.showUp {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.float {
  animation: bobble 2s infinite;
}

.float2 {
  animation: bobble 2s infinite;
  animation-delay: 1s;
}

@keyframes bobble {
  0% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(7px);
  }
}
@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@media screen and (max-width: 1024px) {
  .img1web {
    width: 30rem;
  }
  .about .about__content {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
  }
  header nav a {
    font-size: 4rem;
    padding: 3rem 0px;
  }
  #change-theme-website i {
    font-size: 4rem;
    padding: 3rem 0px;
  }
  #projects div {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 300px;
    margin-bottom: 7rem;
  }
  .divider {
    width: 70%;
  }
  .techs {
    flex-direction: column;
  }
  .techs div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    height: 20rem;
    border-radius: 5px;
  }
  .tech-ident {
    padding-bottom: 2rem;
  }
  .footer .footer_left {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
  }
  #barsBtn {
    display: block;
    font-size: 4rem;
    position: absolute;
    left: 3rem;
    top: 3rem;
    z-index: 9999;
  }
  #xBtn {
    display: none;
    font-size: 4rem;
    position: absolute;
    left: 3rem;
    top: 3rem;
    z-index: 9999;
  }
}
@media screen and (max-width: 425px) {
  main #init-info {
    flex-direction: column;
  }
  main #init-info article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #projects div {
    width: 95%;
  }
  .about .about__content {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .footer {
    background-color: var(--color);
    color: white;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    width: 100%;
  }
  .footer .footer_left {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_right {
    display: none;
  }
}
@media screen and (max-width: 428px) {
  main #init-info {
    flex-direction: column;
  }
  main #init-info article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #projects div {
    width: 95%;
  }
  .about .about__content {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .footer {
    background-color: var(--color);
    color: white;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    width: 100%;
  }
  .footer .footer_left {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_right {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  main #init-info img {
    width: 250px;
    border-radius: 50%;
    height: 250px;
    box-shadow: var(--shadow);
    animation-duration: 2s;
  }
  main #init-info article h1 {
    text-align: center;
  }
  #projects div {
    width: 95%;
    height: 220px;
  }
  .img1web {
    width: 25rem;
  }
}
.openNav {
  top: 0%;
}

#barsBtn {
  display: block;
  font-size: 4rem;
  position: absolute;
  left: 3rem;
  top: 3rem;
  z-index: 9999;
}

#xBtn {
  display: none;
  font-size: 4rem;
  position: absolute;
  left: 3rem;
  top: 3rem;
  z-index: 9999;
}/*# sourceMappingURL=styles.css.map */